.navbar
  background-color: #585BFb !important

.navbar .links
  background-color: #585BFB !important
  color: white

.navbar .site-name 
  background-color: #585BFB !important
  color: white !important
