div.theme-default-content:not(.custom) {
    max-width: 100%;
}

.content:not(.custom) {
    max-width: 100%;
}

$navbarBackground = #6666CC

.navbar
  background-color: #6666CC !important

.navbar .links
  background-color: #6666CC !important
  color: white

.navbar .site-name 
  background-color: #6666CC !important
  color: white !important