$contentWidth = 90%

$navbarBackground = #6666CC

.navbar
  background-color: #6666CC !important

.navbar .links
  background-color: #6666CC !important
  color: white

.navbar .site-name 
  background-color: #6666CC !important
  color: white !important